<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/common/template">
<head>
<meta charset="UTF-8" />
<title th:text="#{text.login}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="box bg-sign-in padding">
			<div class="sign-in">
				<div class="si-title">
					<h3 th:text="#{text.register}"></h3>
				</div>
				<div class="si-content">
					<br />
					<form th:action="@{/dang-ky}" method="post" id="demo-form2"
						data-parsley-validate class="form-horizontal form-label-left"
						th:object="${userDTO}" enctype="multipart/form-data">

						<div class="form-group">
							<label class="control-label" for="email" th:text="#{user.email}"><span
								class="required">*</span> </label>
							<div class="control-label">
								<input type="text" id="email" required="required"
									class="form-control col-md-7 col-xs-12"
									th:placeholder="#{user.email}" th:field="*{email}">
							</div>
							<div class="help-block text-danger" th:errors="*{email}"></div>
						</div>
						<div class="form-group">
							<label class="control-label" for="password"
								th:text="#{user.password}"><span class="required">*</span>
							</label>
							<div class="control-label">
								<input type="text" id="password" required="required"
									class="form-control col-md-7 col-xs-12"
									th:placeholder="#{user.password}" th:field="*{password}">
							</div>
							<div class="help-block text-danger" th:errors="*{password}"></div>
						</div>
						<div class="form-group">
							<label class="control-label" th:text="#{text.target}"><span
								class="required">*</span> </label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div id="gender" class="btn-group" data-toggle="buttons">
									<label class="btn btn-default" data-toggle-class="btn-primary"
										data-toggle-passive-class="btn-default"> <input
										type="radio" name="roleId" th:field="*{roleId}"
										th:text="#{role.shop}" value="2">
									</label> <label class="btn btn-primary" data-toggle-class="btn-primary"
										data-toggle-passive-class="btn-default"> <input
										type="radio" name="roleId" value="3" th:field="*{roleId}"
										th:text="#{role.shipper}">
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" th:text="#{user.avatar}"></label> <input
								required="required" class="form-control" name="file"
								type="file" accept="image/*">
							<div class="help-block text-danger" th:errors="*{avatar}"></div>
						</div>
						<div class="ln_solid"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="btn-regis">
									<button type="submit" class="btn btn-danger"
										th:text="#{text.register}"></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>